<div class="modal-header">
  <h3 class="page-ttl">{{ title }}</h3>
  <button mat-mini-fab color="warn" type="button" class="btn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

    <section>
      <div class="table-responsive">
    <table  style="width: 100%; border-spacing: .5px;border-collapse: separate;" class="table table-bordered">
      <tr>
        <td class="data">
           <b>Activity</b>
        </td>
        <td>
           {{detailPageData?.activity}}
        </td>
      </tr>
      <!-- <tr>
        <td class="data">
           <b>Catalogue</b>
        </td>
        <td>
          <P *ngFor="let cat of detailPageData?.catalogue">{{cat?.name}},</P>
        </td>
      </tr> -->
      <tr>
        <td class="data">
           <b>Office</b>
        </td>
        <td>
          {{detailPageData?.office?.name}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Department</b>
        </td>
        <td>
          {{detailPageData?.office?.department?.name}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Ratings</b>
        </td>
        <td>
          <div class="row" style="margin-left: 2%;">
            <span *ngFor="let number of counter(detailPageData?.ratings)" class="fa fa-star checked"></span >
          </div>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Is Office Open</b>
        </td>
        <td *ngIf="detailPageData?.isOfficeOpen">
          <mat-icon class="icon-done">done</mat-icon>
        </td>
        <td *ngIf="!detailPageData?.isOfficeOpen">
          <mat-icon class="icon-cancel">clear</mat-icon>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Is All Staff Present</b>
        </td>
        <td *ngIf="detailPageData?.isAllStaffPresent">
          <mat-icon class="icon-done">done</mat-icon>
        </td>
        <td *ngIf="!detailPageData?.isAllStaffPresent">
          <mat-icon class="icon-cancel">clear</mat-icon>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Is Leave Register Maintained</b>
        </td>
        <td *ngIf="detailPageData?.isLeaveRegisterMaintained">
          <mat-icon class="icon-done">done</mat-icon>
        </td>
        <td *ngIf="!detailPageData?.isLeaveRegisterMaintained">
          <mat-icon class="icon-cancel">clear</mat-icon>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Latitude & Longitude</b>
        </td>
        <td>
           {{detailPageData?.latitude}},{{detailPageData?.longitude}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Image 1</b>
        </td>
        <td>
          <button
          mat-icon-button
          color="primary"
          type="button"
          matTooltip="Detail"
          (click)="firstImg(detailPageData?.firstImage)"
        >
          <mat-icon>photo_library</mat-icon>
          <!-- <mat-icon>launch</mat-icon> -->
        </button>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Image 2</b>
        </td>
        <td>
          <button
          mat-icon-button
          color="primary"
          type="button"
          matTooltip="Detail"
          (click)="secondImg(detailPageData?.secondImage)"
        >
          <mat-icon>photo_library</mat-icon>
        </button>
        </td>
      </tr>
    </table>
  </div>
    </section>

