<div class="modal-header">
  <h3 class="page-ttl">{{ title }}</h3>
  <button mat-mini-fab color="warn" type="button" class="btn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<nb-card>
  <nb-card-body>
    <section>
      <div class="table-responsive">
    <table  style="width: 100%; border-spacing: .5px;border-collapse: separate;" class="table table-bordered">
      <tr>
        <td class="data">
           <b>Activity</b>
        </td>
        <td>
           {{detailPageData?.name}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Activity</b>
        </td>
        <td>
           {{detailPageData?.name}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Is Office Open</b>
        </td>
        <td>
           {{detailPageData?.isOfficeOpen}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Is All Staff Present</b>
        </td>
        <td>
           {{detailPageData?.isAllStaffPresent}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Is Leave Register Maintained</b>
        </td>
        <td>
           {{detailPageData?.isLeaveRegisterMaintained}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Latitude & Longitude</b>
        </td>
        <td>
           {{detailPageData?.latitude}},{{detailPageData?.Longitude}}
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Image 1</b>
        </td>
        <td>
          <button
          mat-icon-button
          color="primary"
          type="button"
          matTooltip="Detail"
          (click)="firstImg(detailPageData?.firstImage)"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Image 2</b>
        </td>
        <td>
          <button
          mat-icon-button
          color="primary"
          type="button"
          matTooltip="Detail"
          (click)="secondImg(detailPageData?.secondImage)"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        </td>
      </tr>
      <tr>
        <td class="data">
           <b>Ratings</b>
        </td>
        <td>
          <div class="row" style="margin-left: 2%;">
            <span *ngFor="let rating of ratings" class="fa fa-star checked"></span >
          </div>
        </td>
      </tr>
    </table>
    <img [src]="imageURL" style="width: 20%; height:20%"/>
  </div>
    </section>
  </nb-card-body>
</nb-card>

