<nb-card>
  <nb-card-header>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="st">Master</a></li>
        <li class="breadcrumb-item active">
          <a class="st" href="pages/master/app-user">User</a>
        </li>
        <li class="breadcrumb-item active">
          <a class="st" href="pages/master/app-user/add">Add</a>
        </li>
      </ol>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="userForm">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-lg-3">
            <mat-form-field
              appearance="fill"
              class="full-width"
              style="width: 100%"
            >
              <mat-label>Name</mat-label>
              <input matInput type="text" name="name" formControlName="name" />
              <mat-error *ngIf="basic.name.hasError('required')"
                >Name is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3">
            <mat-form-field
              appearance="fill"
              class="full-width"
              style="width: 100%"
            >
              <mat-label
                >Mobile Number<span class="text-danger"></span
              ></mat-label>
              <input
                matInput
                type="text"
                mask="(000)000-0000"
                prefix="+91"
                name="mobileNumber"
                formControlName="mobileNumber"
              />
              <mat-error *ngIf="basic.mobileNumber.hasError('required')"
                >Mobile number is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form-group col-md-3">
            <div
              appearance="fill"
              class="full-width"
            >
              <app-multi-select
                #departmentMultiSelect
                isMultiSelect="true"
                [options]="departments"
                label="Department"
                [isSubmit]="isSubmit"
                [isRequired]="true"
                [(dropDownValue)]="selectedDepartments"
              >
              </app-multi-select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <div appearance="fill" class="full-width" >
              <app-multi-select
                #rolesMultiSelect
                isMultiSelect="true"
                [options]="roles"
                label="Roles"
                [isSubmit]="isSubmit"
                [isRequired]="true"
                [(dropDownValue)]="selectedRoles"
              >
              </app-multi-select>
            </div>
          </div>
          <div class="form-group col-md-3" style="padding-top: 20px;">
            <div>
              <mat-slide-toggle formControlName="isActive">Enabled/Disabled</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div
          class="col-lg-12 breadcrumb scale row"
        >
          <button
            class="btn"
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addNewAddressGroup()"
          >
            <b>Address</b><mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="row">
          <div formArrayName="userAddress">
            <div
              *ngFor="let a of address.controls; let i = index"
              [formGroupName]="i"
              class="col-lg-12 row"
            >
              <p class="col-12">
                <b style="color: grey">Address {{ i + 1 }}</b>
              </p>
              <div class="form-group col-lg-2">
                <mat-form-field
                  appearance="fill"
                  class="full-width"
                  style="width: 100%"
                >
                  <mat-label>Door Number</mat-label>
                  <input
                    matInput
                    type="text"
                    name="doorNo"
                    formControlName="doorNo"
                  />
                  <mat-error
                    *ngIf="
                      address.controls[i].get('doorNo')?.hasError('required')
                    "
                    >Door number is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-group col-lg-2">
                <mat-form-field
                  appearance="fill"
                  class="full-width"
                  style="width: 100%"
                >
                  <mat-label>Area</mat-label>
                  <input
                    matInput
                    type="text"
                    name="area"
                    formControlName="area"
                  />
                  <mat-error
                    *ngIf="
                      address.controls[i].get('area')?.hasError('required')

                    "
                    >Area is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-group col-lg-2">
                <mat-form-field
                  appearance="fill"
                  class="full-width"
                  style="width: 100%"
                >
                  <mat-label>District</mat-label>
                  <input
                    matInput
                    type="text"
                    name="district"
                    formControlName="district"
                  />
                  <mat-error
                    *ngIf="
                      address.controls[i].get('district')?.hasError('required')

                    "
                    >District is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-group col-lg-3">
                <mat-form-field
                  appearance="fill"
                  class="full-width"
                  style="width: 100%"
                >
                  <mat-label>State</mat-label>
                  <input
                    matInput
                    type="text"
                    name="state"
                    formControlName="state"
                  />
                  <mat-error
                    *ngIf="
                      address.controls[i].get('state')?.hasError('required')

                    "
                    >State is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-group col-lg-2">
                <mat-form-field
                  appearance="fill"
                  class="full-width"
                  style="width: 100%"
                >
                  <mat-label>Poastal Code</mat-label>
                  <input
                    matInput
                    type="text"
                    name="pin"
                    formControlName="pin"
                  />
                  <mat-error
                    *ngIf="
                      address.controls[i].get('pin')?.hasError('required')

                    "
                    >Poastal Code is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div>
                <button
                  mat-icon-button
                  color="warn"
                  matTooltip="Delete"
                  type="button"
                  (click)="deleteAddressGroup(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group text-right mb-0">
          <button
            class="btn btn-primary waves-effect waves-light mr-1"
            type="submit"
            (click)="submitForm()"
          >
            Submit
          </button>
          <button
            (click)="cancel()"
            class="btn btn-secondary waves-effect waves-light"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
