<mat-form-field appearance="fill">
  <mat-label>{{label | titlecase}}</mat-label>
  <mat-select
  [formControl]="selectControl"
  (ngModelChange)="onSelectionChange($event)"
  [(ngModel)]="selectedOption"
  [multiple]="isMultiple"
  [compareWith]="objectComparisonFunction"
  >
  <mat-option>
    <ngx-mat-select-search
      [formControl]="searchControl"
      placeholderLabel="Find {{ label }}..."
    ></ngx-mat-select-search>
   </mat-option>
    <mat-option *ngFor="let option of searchFilter | async" [value]="option">
      {{ option.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="selectControl.hasError('required')">Please select {{label}}</mat-error>
</mat-form-field>
