<nb-card>
  <nb-card-body>
    <div style="margin-bottom: 1%">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>search</mat-icon>Search
            </mat-panel-title>
            <mat-panel-description style="margin-left: 10%">
              <mat-icon>place</mat-icon><b>User Location</b>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="locationForm">
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-md-3">
                  <div
                    appearance="fill"
                    class="full-width"

                  >
                    <app-multi-select
                      #rolesMultiSelect
                      isMultiSelect="false"
                      [options]="users"
                      label="Users"
                      [isRequired]="true"
                      [(dropDownValue)]="selectedUser"
                    >
                    </app-multi-select>
                  </div>
                </div>
                <div class="form-group col-3">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="fromPicker"
                      formControlName="name"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="fromPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #fromPicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group text-right mb-0">
                  <button
                    class="btn btn-primary waves-effect waves-light mr-1"
                    type="submit"
                    (click)="submitForm()"
                  >
                    Submit
                  </button>
                  <button
                    (click)="resetForm()"
                    class="btn btn-secondary waves-effect waves-light"
                  >
                    Cancel
                  </button>
                </div>
              </div>
              <div class="row">
                <b>
                  Total Distance Covered :
                </b>{{ distance.toFixed(2)}} km
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [minZoom]="minZoom">
      <agm-marker
        *ngFor="let marker of start_end_mark; let i = index"
        (markerClick)="clickedMarker(infoWindow, marker[3])"
        [latitude]="marker[0]"
        [longitude]="marker[1]"
      >
        [markerDraggable]="false" [agmFitBounds]="true">
        <agm-info-window #infoWindow>
          <div style="padding: 20px 20px 20px 20px ;">
            <table>
              <tr>
                <td><b>User Name</b></td>
                <td>:</td>
                <td >
                  {{ marker[2] }}
                </td>
              </tr>
              <tr>
                <td><b>Latitude</b></td>
                <td>:</td>
                <td>
                  {{ marker[0] }}
                </td>
              </tr>
              <tr>
                <td><b>Longitude</b></td>
                <td>:</td>
                <td>
                  {{ marker[1] }}
                </td>
              </tr>
            </table>
            <div style="margin-top: 10%">
              <button mat-flat-button (click)="showDetail(marker[3])" ><b>view more</b></button>
            </div>
          </div>
        </agm-info-window>
      </agm-marker>
      <agm-polyline
        [visible]="true"
        [strokeWeight]="3"
        [strokeColor]="'#07b57a'"
      >
        <agm-polyline-point
          *ngFor="let coordinate of latlng; let i = index"
          [latitude]="coordinate[0]"
          [longitude]="coordinate[1]"
        >
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </nb-card-body>
</nb-card>
